/*320 - 767*/
@media screen and (max-width: 767px) {
	.has-nav-address-bar .site-header:not(.site-header-mobi--collapse) .nav-toggle-btn{
		top:40px
	}
	.site-header-mobi .site-logo__btn{
		max-height: 100px
	}
	.site-header-mobi{
		position: relative
	}
	.has-mobi-footer .site-content:after{
		height: auto
	}
	.site-header-mobi .site-powered-by > a{
		padding: 0
	}
	.home-video#video-banner{
		height: 30vh
	}
	.home-video h1{
		display: none
	}
}
@media (min-width: 1280px) and (max-width: 1439px) {
	
	.site-nav-menu > li > a, .site-nav-menu > li.site-nav-submenu > button.site-nav-submenu-toggle, .site-nav-submenu > span, .site-nav-submenu > a{
		    padding: 0.7em 0.37em 0.7em 0.37em;

	}
	
	.site-header-desktop-primary.site-header-desktop-primary--collapsed .site-logo__btn{
		width: auto;
	}
	.site-nav-link:hover:before, .is-active .site-nav-link:before, .site-nav-submenu ul a:hover:before, .sub-menu .is-active a:before{
		bottom: 6px
	}
}
